


<h1 class = "text-center"> Let's Eat! </h1>

<nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" [routerLink]="['restaurants/new']"> Add New Restaurant</a>
        <a class = "navbar-brand" [routerLink]="['restaurants/home']"> Home </a>
        


</nav>
<!-- <div class = "row">
    <div class = "col-2"> <a class = "btn btn-success" [routerLink]="['restaurants/new']"> Add New Restaurant</a>

    </div>
    <div class = "col-2"> <a class = "btn btn-primary" [routerLink]="['restaurants/home']"> Home </a>
        
    </div>
</div> -->



<router-outlet></router-outlet>